name: Deploy Application

on:
  push:
    branches:
      - feat/MMN-4-github-actions
      # TODO(wgarneau): Change this to main when ready to deploy
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'Production'
        type: choice
        options:
        - Production

env:
  TF_VERSION: '1.0.0'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: misinformation-mitigation

    - name: Configure Docker credentials
      run: gcloud auth configure-docker --quiet

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Set environment variables
      run: |
        echo "ENVIRONMENT=${{ github.event.inputs.environment }}" >> $GITHUB_ENV
        echo "TF_VAR_db_password=${{ secrets.DB_PASSWORD }}" >> $GITHUB_ENV
        echo "PROJECT_ID=misinformation-mitigation" >> $GITHUB_ENV
        echo "ZONE=northamerica-northeast1" >> $GITHUB_ENV
        echo "CLUSTER_NAME=misinformation-mitigation-gke-cluster" >> $GITHUB_ENV
        echo "IMAGE_NAME=misinformation-mitigation-api" >> $GITHUB_ENV

    - name: Run deploy script
      if: github.ref == 'refs/heads/feat/MMN-4-github-actions'
      run: |
        echo '${{ secrets.GCP_SA_KEY }}' > /tmp/gcp-sa-key.json
        export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-sa-key.json
        gcloud auth activate-service-account --key-file=/tmp/gcp-sa-key.json
        gcloud config set project misinformation-mitigation
        chmod +x ./infrastructure/deploy.sh
        ./infrastructure/deploy.sh

      env:
        TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
        PROJECT_ID: misinformation-mitigation
        ZONE: northamerica-northeast1
        CLUSTER_NAME: misinformation-mitigation-gke-cluster
        IMAGE_NAME: misinformation-mitigation-api

    - name: Verify deployment
      run: |
        gcloud container clusters get-credentials misinformation-mitigation-gke-cluster --zone northamerica-northeast1-a --project misinformation-mitigation
        kubectl rollout status deployment/misinformation-mitigation-api -n misinformation-mitigation